.leaflet-popup-content textarea {
    outline: none;
    -moz-appearance: none;
    border: 1px solid white;
}
.leaflet-popup-content textarea:hover {
    border: 1px solid #999;
}
.gmxTooltipBG {
    fill: white;
    stroke: black;
    stroke-width: 1;
    opacity: 0.85;
}
.leaflet-drawing-lines {
   pointer-events: none;
}
.leaflet-drawing-lines-fill {
    pointer-events: visiblepainted;
}
.leaflet-drawing-points {
    pointer-events: visible;
}
.leaflet-drawing-bbox {
	cursor: all-scroll;
}

/* static Tooltips */
.leaflet-tooltip.staticTooltip  {
	pointer-events: auto;
}
.leaflet-tooltip.staticTooltip  .content {
	display: flex;
	cursor: text;
}
.leaflet-tooltip.staticTooltip .closeBtn {
    position: relative;
    right: -6px;
    top: -11px;
	cursor: pointer;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
    background-color: lightgray;
	cursor: pointer;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over.leaflet-contextmenu-item-disabled {
	cursor: default;
}
